version: "3.8"
services:
  web:
    container_name: loan-quote-widget
    build:
      context: ../
      dockerfile: .docker/Dockerfile
    volumes: 
        - ..:/loan-quote-widget
    ports:
        - "4200:4200"